

@font-face {
  font-family: 'PressStart';
  font-style: normal;
  font-weight: 300;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');
}
body {
    font: 13px/1.4 'Helvetica Neue', 'Helvetica','Arial', sans-serif;
    color: #333;
	background: url(footer_lodyas.png) repeat;
}
h1 {
    text-align:center;
	color:#fff;
	font-size:60px;
	font-family: 'Poiret One', cursive;
	font-weight:300;
	margin-top:20%;
}
h2{
  position: relative;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
h2:before{
  content: '\2192';
  position: absolute;
  left: -20px;
  font-size: 0.9em;
}
h4{
	/*font-family:'Helvetica Neue';*/
	font-family: 'PressStart';
	font-weight:300;
	font-size:50px;
	color:#ffffff;
	margin-bottom:35px !important;
	animation:1.5s ease-in-out 0s alternate none infinite running neon1;
}
a {
    color: #be2221;
    text-decoration: none;
}

.callback,
.simple,
.offset {
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ecf0f1;
  margin-bottom: 50px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}
.offset {
  margin-bottom: 10px;
}
.callback{
  cursor: pointer;
}
.ended {
  background: #c0392b;
}
.styled div {
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
}
.styled span {
	color:#efefef;
	font-size:40px !important;
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
.styled div{
	margin:0 25px;
}
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
